// research styles
.research-section {
    float: left;
    width: 100%;
    display: block;
  }

  .grid-flex {
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -webkit-justify-content: space-around;
    margin: 0 20px;
    padding: 30px 20px;
    background: #1C2E3C;
    &.inverse-section{
      background: #FFF;
      .Aligner-item{
        color:#000;
        button{
          background: transparent;
        border: 1px solid  #000;
        color:   #000;
        }
      }
    }
  }

  .col-image {
    background-size: cover;
    background-position: center center;
  }
  
  @media (max-width: 640px) {
    .grid-flex {
      display: -webkit-flex;
      -webkit-flex-direction: column;
      flex-direction: column;
    }
      .inverse-section{
        .col-text{
          margin-top: 0;
        }
        .heading{
          padding-top: 0;
          margin-top: 0;
          margin-bottom: 0;
        }
      }
    .col {
      order: vertical;
    }
    .col-text{
      margin-top: 20px;
      margin-bottom: 30px;
    }
    .col-left {
      -webkit-box-ordinal-group: 0;
      -webkit-order: 0;
      -ms-flex-order: 0;
      order: 0;
    }
    .col-text div p {
      padding: 1em;
    }
    .Aligner-item {
      width: 90%;
    }
  }
  .col-text {
    height: 20em;
  }
  .col {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  
  .col-left {
    -webkit-box-ordinal-group: -1;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }
  
  .col-text {
    display: flex;
    align-items: center;
    justify-content: center;
  }
