mixin research(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

    section.research-section
        .grid-flex
          img.col.col-image(src='/assets/ntu/images/research-1.png')
          .col.col-text.col-left
            .Aligner-item
              p.heading Singapore President and NTU new  Chancellor ​Halimah Yacob made her first visit to the campus
              p.desc During a tour of NTU’s latest facilities, including the new residential halls at North Hill and Nanyang Crescent, President Halimah got a close-up look at the university's Residential Education programme, which offers a variety of learning activities hosted by the halls of residence for student residents. 
              button See research
                i.icon.icon-arrow-right
        .grid-flex.inverse-section
          img.col.col-image(style='top: -50px;position: relative;' src='/assets/ntu/images/research-1.png')
          .col.col-text
            .Aligner-item
              p.heading Agilent Technologies and Nanyang Technological University collaborate on wastewater treatment research.
              p.desc Scientists and engineers from NEWRI aim to gain a better understanding of microbes capable of degrading various materials so as to harness them for wastewater and waste treatment.
              button See research
                i.icon.icon-arrow-right