include ../../atoms/button/button

mixin home-carousel(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''
	- spec.carousel = spec.carousel || ''

	
	section.home-carousel(class=spec.__class)
		.home-carousel__slick
			each item in site.data.homeCarousel
				.slick-wrapper(data-cat=item.category)
					.slick-text
						.container
							.text-container
								h2.title= item.title
								+button({
									'__class': 'cta',
									'__text': 'See research',
									'__link': '#',
									'__iconAfter': 'icon-arrow-up-right'
								})

					.slick-image
						img(src=item.image)
