// event-carousel styles

.event-carousel {
	float: left;
	width: 100%;
	display: block;
	.slick-arrow{
		display:none!important;
	}
	h3{
		margin-left:30px;
		margin-bottom: 25px;
	}
	.event-slide{

		.image-container {
			padding: 10px;
			img {
				width: 100%;
			}
		}
		.text-container{
				text-align: center;
				font-size: 13px!important;
				margin-top:10px;
				height: 60px;
				font-family: Lato;
				font-style: normal;
				font-weight: bold;
				line-height: 18px;
		}
		.date{
			text-align: center;
			display: flex;
			justify-content: center;
			border-top: 1px solid #000000;
			position: relative;
			margin-top: 20px;
			padding-top: 20px;
			color:#D71440;
			font-size:13px;
			&::before{
				content: "";
				height: 25px;
				background-color: white;
				border: 1px solid #000000;
				position: absolute;
				top: -15px;
			}
		}

	}

}


