include ../../molecules/article-card/article-card


mixin strategy-section(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  section.strategy-section(class=spec.__class)&attributes(attributes)
    .container
      .row
        .col-md-3
          h2 Research
          +article-card({
            "__class":"article-card__with-dotted-border",
            "theme":"Metabolic Disorders",
            "description":"There is an epidemic of obesity and related disorders, in particular type 2 diabetes, engulﬁng the world."
          })
          +article-card({
            "__class":"article-card__with-dotted-border",
            "theme":"Neuroscience and Mental Health",
            "description":"Development of new therapies for neurodegenerative and psychiatric disorders requires a better understanding of the genetic basis of these diseases."
          })
          +article-card({
            "__class":"article-card__with-dotted-border",
            "theme":"Infection & Immunity",
            "description":"Increasing microbial resistance to commonly used drugs and the emergence of novel viral strains pose a growing threat to global health."
          })
          +button({
            '__type': 'anchor',
            '__class': 'btn--noborder btn--red',
            '__link': '#',
            '__iconAfter': 'icon-arrow-right',
            "__text":"See research themes"
          })
        .col-md-6
          +article-card({
            "__class":"article-card__big",
            "image":"/assets/ntu/images/publication1.jpg",
            "title":"Local release of rapamycin by microparticles delays islet rejection within the anterior chamber of the eye",
            "author":"By Ms Goh Tze Jui, Associate Prof Cai Yiyu",
            "type":"Publication",
            "date":"5 April 2019",
          })
        .col-md-3
          +article-card({
            "image":"/assets/ntu/images/publication2.jpg",
            "title":"Global, regional, and national burden of neurological disorders, 1990-2016",
            "type":"Publication",
            "date":"14 March 2019",
          })
          +article-card({
            "image":"/assets/ntu/images/publication3.jpg",
            "title":"Digital Education for Health Professions on Smoking Cessation Management",
            "type":"Publication",
            "date":"4 March 2019",
          })
