include ../../molecules/article-card/article-card


mixin strategy-section(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  section.strategy-section(class=spec.__class)&attributes(attributes)
    .container
      .row
        .col-md-3
          h2 Research
          +article-card({
            "__class":"article-card__with-dotted-border",
            "theme":"ADM Research Lecture Series",
            "description":"Lorem Ipsum is simply dummy text of the printing and typesetting industry."
          })
          +article-card({
            "__class":"article-card__with-dotted-border",
            "theme":"Industry Talks",
            "description":"Lorem Ipsum is simply dummy text of the printing and typesetting industry."
          })
          +article-card({
            "__class":"article-card__with-dotted-border",
            "theme":"Art Talks",
            "description":"Lorem Ipsum is simply dummy text of the printing and typesetting industry."
          })
          +button({
            '__type': 'anchor',
            '__class': 'btn--noborder btn--red',
            '__link': '#',
            '__iconAfter': 'icon-arrow-right',
            "__text":"See research themes"
          })
        .col-md-6
          +article-card({
            "__class":"article-card__big",
            "image":"/assets/ntu/images/publication1.jpg",
            "title":"Historical GIS projects at the laboratory of Historical Geoinformatics",
            "author":"By Dr Alexey Frolov",
            "type":"Publication",
            "date":"5 April 2019",
          })
        .col-md-3
          +article-card({
            "image":"/assets/ntu/images/publication2.jpg",
            "title":"How Italy became the second creative force in Cinema from the 50s to 70s",
            "type":"Publication",
            "date":"14 March 2019",
          })
          +article-card({
            "image":"/assets/ntu/images/publication3.jpg",
            "title":"Engaging Science Museum Visitors:  Insights from a Science Capital Approach",
            "type":"Publication",
            "date":"4 March 2019",
          })
