// strategy-section style
.strategy-section {
  background-color: #F4F4F4;
  padding: 90px 0px;
  h2 {
    color: black;
    font-weight: bold;
    margin-bottom:10px;
  }
  .col-md-3,.col-md-6 {
    padding: 0px 10px;
  }
  .btn {
    margin-top: 20px;
    padding: 15px 0px;
    padding-right: 40px;
  }
}