
include ../../atoms/button/button
include ../../atoms/input-select/input-select

mixin header(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''
	- spec.primaryNav = spec.primaryNav || -1
	- spec.secondaryNav = spec.secondaryNav || -1

	header.main-header
		.top-bar
			.topbar-wrap
				.topbar-link
					ul
						li
							+input-select({
								'__options': ['Information for...', 'Option 2', 'Option 3', 'Option 4', 'Option 5'],
								'__display': 'Information for...',
								'__class': 'topbar-select'
							})
						li
							+input-select({
								'__options': ['Logins', 'Option 2', 'Option 3', 'Option 4', 'Option 5'],
								'__display': 'Logins',
								'__class': 'topbar-select'
							})
						li
							a(href='/') Media
			.topbar-wrap
				.topbar-api
					ul
						li
							+button({
								'__type': 'anchor',
								'__class': 'btn--noborder',
								'__link': '/',
								'__iconBefore': 'icon-facebook'
							})
						li
							+button({
								'__type': 'anchor',
								'__class': 'btn--noborder',
								'__link': '/',
								'__iconBefore': 'icon-tweet'
							})
						li
							+button({
								'__type': 'anchor',
								'__class': 'btn--noborder',
								'__link': '/',
								'__iconBefore': 'icon-youtube'
							})
						li
							+button({
								'__type': 'anchor',
								'__class': 'btn--noborder',
								'__link': '/',
								'__iconBefore': 'icon-instagram'
							})

		.nav-bar
			.left-align
				span (65) 6791 1744
			.logo
				img(src="/assets/ntu/images/ntu-logo.png", alt="*NTU", height="100px", width="100px")
			.search
				input(type='text', placeholder='Search..')
		.nav-menu
			ul
				li
					a(href="#", class="nav__item")
						| About NTU
				li
					a(href="#", class="nav__item")
						| Global
				li
					a(href="#", class="nav__item")
						| Admissions
				li
					a(href="#", class="nav__item")
						| Academic
				li
					a(href="#", class="nav__item")
						| Research
				li
					a(href="#", class="nav__item")
						| Campus Life