
include ../../atoms/button/button
include ../../atoms/input-select/input-select

mixin header(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''
	- spec.primaryNav = spec.primaryNav || -1
	- spec.secondaryNav = spec.secondaryNav || -1

	header.main-header
		.top-bar
			.container
				.top-bar-nav
					.topbar-wrap
						.topbar-link
							ul
								li
									+input-select({
										'__options': ['Information for...', 'Option 2', 'Option 3', 'Option 4', 'Option 5'],
										'__display': 'Information for...',
										'__class': 'topbar-select'
									})
								li
									+input-select({
										'__options': ['Logins', 'Option 2', 'Option 3', 'Option 4', 'Option 5'],
										'__display': 'Logins',
										'__class': 'topbar-select'
									})
								li
									a(href='/') Media
					.topbar-wrap
						.topbar-api
							ul
								li
									+button({
										'__type': 'anchor',
										'__class': 'btn--noborder',
										'__link': '/',
										'__iconBefore': 'icon-facebook'
									})
								li
									+button({
										'__type': 'anchor',
										'__class': 'btn--noborder',
										'__link': '/',
										'__iconBefore': 'icon-tweet'
									})
								li
									+button({
										'__type': 'anchor',
										'__class': 'btn--noborder',
										'__link': '/',
										'__iconBefore': 'icon-youtube'
									})
								li
									+button({
										'__type': 'anchor',
										'__class': 'btn--noborder',
										'__link': '/',
										'__iconBefore': 'icon-instagram'
									})
		
		.nav-bar.top-bar
			.container
				.top-bar-nav
					.topbar-wrap
						.topbar-link
							i.icon.icon-phone
							.contact-main
								span Contact us
								span.phone-number (65) 6791 1744
					.topbar-wrap
						.topbar-link
							img.main-logo(src='/assets/ntu/images/ntu-logo.png', alt='NTU logo')
					.topbar-wrap
						.topbar-link
							input.filterinput(type='search', placeholder='What interests you?')
							i.icon.icon-search
		.nav-menu
			ul
				li.sticky-logo
					a(href="#", class="nav__item")
						img.main-logo(src='/assets/ntu/images/ntu-logo.png', alt='NTU logo')
				li
					a(href="#", class="nav__item")
						| About NTU
				li
					a(href="#", class="nav__item")
						| Global
				li
					a(href="#", class="nav__item")
						| Admissions
				li
					a(href="#", class="nav__item")
						| Academic
				li
					a(href="#", class="nav__item")
						| Research
				li
					a(href="#", class="nav__item")
						| Campus Life
				li.sticky-phone
					a(href="#", class="nav__item")
						i.icon.icon-phone
				li.sticky-search
					a(href="#", class="nav__item")
						i.icon.icon-search