mixin select-interest(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	section.interest-section
		.container
			.filter-wrapper
				span#filter-header
					//- +button({
					//- 		'__type': 'button',
					//- 		'__class': 'btn--search js-search btn--noborder btn--noanime',
					//- 		'__iconBefore': 'icon-search'
					//- 	})
				ul#filter-list.filter-list
					li.filter-item
						a(href="#")
							| Undergraduate Programmes
							i.icon.icon-arrow-up
					li.filter-item
						a(href="#")
							| Graduate Programmes
							i.icon.icon-arrow-up
					li.filter-item
						a(href="#")
							| Global Programmes
							i.icon.icon-arrow-up
					li.filter-item
						a(href="#")
							| Double majors
							i.icon.icon-arrow-up
					li.filter-item
						a(href="#")
							| Skills future
							i.icon.icon-arrow-up
