include ../article-card/article-card


mixin news-carousel(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .news-carousel(class=spec.__class)&attributes(attributes)
    .carousel-slider
      .slide
        +article-card({
          "title":"​​Eco Ear Candy",
          "type":"News",
          "date":"27 May 2019",
          "description":"Eco ear candy: Dazzle with these DIY earrings that are not just easy on the eyes"
        })
      .slide
        +article-card({
          "title":"​​STEAM Imaging II",
          "type":"News",
          "date":"27 May 2019",
          "description":"Linking Arts with Science, Technology, and the Next generation"
        })
      .slide
        +article-card({
          "title":"​​Winners of Kwek Leng Joo Prize",
          "type":"News",
          "date":"03 May 2019",
          "description":"Winners of Kwek Leng Joo Prize of Excellence in Photography"
        })
      .slide
        +article-card({
          "title":"ADAM",
          "type":"News",
          "date":"24 April 2019",
          "description":"Congratulations to the 4th Year Digital Filmmaking students behind short film ADAM"
        })
      .slide
        +article-card({
          "title":"​Deadline extended for NTU Global",
          "type":"News",
          "date":"08 April 2019",
          "description":"The deadline for submission for local students has been extended to 30 April 2019"
        })