// Breakpoints
$bpMobile: 320px;
$bpLgMobile: 480px;
$bpTablet: 768px;
$bpDesktop: 1024px;
$bpLgDesktop: 1440px;

// Fonts
$base: 16;
$thin: 300;
$normal: 400;
$medium: 500;
$semi-bold: 600;   
$bold: 700;
$ultra-bold: 900;

$primaryfont: 'lato', Helvetica, Arial, sans-serif;
$secondaryfont: 'lato', Helvetica, Arial, sans-serif;

$bodycolor: gray;
$blue: #181C62;
$blue2: #1B75BC;
$blue3: #1C2E3C;
$purple: #53054C;
$purple2: #A5247F;
$white: #fff;
$black: #000;
$green: #07B152;
$pink: #D71440;
$gray1: #E5E5E5;
$yellow: #D5E04D;
$yellow2: #FFCF27;