$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-phone: "\e900";
$icon-facebook: "\e901";
$icon-tweet: "\e902";
$icon-youtube: "\e903";
$icon-Vector-5: "\e904";
$icon-social: "\e905";
$icon-arrow-right: "\e906";
$icon-search: "\e908";
$icon-arrow-down: "\e909";
$icon-arrow-up: "\e90a";
$icon-play3: "\ea1c";
$icon-instagram: "\ea92";
$icon-arrow-up-right: "\ea3b";
$icon-undergraduate: "\ea3c";
$icon-graduate: "\ea3d";
$icon-admission: "\ea3e";
$icon-play-circle: "\ea3f";

