extends ../_layouts/base-school

include ../_modules/molecules/featured-card/featured-card
include ../_modules/molecules/video-box/video-box


include ../_modules/organisms/news-section/news-section
include ../_modules/organisms/school-banner/school-banner
include ../_modules/organisms/cta-section/cta-section
include ../_modules/organisms/strategy-section/strategy-section

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'

block content
  +school-banner({
    "image":"/assets/ntu/images/schoolbanner.jpg",
    "title":"School of Art, Design and Media"
  })
  +cta-section()
  .general-content.general-content__bg-white
    .container
      +featured-card({
        "image":"/assets/ntu/images/featureimage.jpg",
        "tag":"Research",
        "title":"Forms of Everyday Asia",
        "author":"By Ms Goh Tze Jui, Associate Prof Cai Yiyu",
        "description":"<p>Researchers from Singapore and South Korea have uncovered new details of a brain pathway that can cause impulsive behaviours.<br>The researchers artificially activated these receptors in specific parts of the brain, and the mice displayed impulsive behaviour when the signal was picked up by the amygdala – an almond-like structure deep in the brain.</p>",
        "link":"#"
      })
  +strategy-section()
  .general-content.general-content__bg-white.general-content__with-purple-box
    .container
      +video-box({
        "image":"/assets/ntu/images/videobox.png",
        "title":"Emergent Visions Adjacency and Urban Screens",
        "description":"Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat."
      })
  +news-section()