extends _layouts/base

include _modules/organisms/home-carousel/home-carousel
include _modules/organisms/event-carousel/event-carousel
include _modules/organisms/select-interest/select-interest
include _modules/organisms/excellence/excellence

block content
	+home-carousel()

	+select-interest()

	+excellence()

	section.research-section
		.grid-flex
			//.col.col-image(style='background-image: url(/assets/ntu/images/research-2.png);')
			img.col.col-image(src='/assets/ntu/images/research-1.png')
			.col.col-text.col-left
				.Aligner-item
					p.heading Singapore President and NTU new  Chancellor ​Halimah Yacob made her first visit to the campus
					p.desc During a tour of NTU’s latest facilities, including the new residential halls at North Hill and Nanyang Crescent, President Halimah got a close-up look at the university's Residential Education programme, which offers a variety of learning activities hosted by the halls of residence for student residents. 
					button See research
						i.icon.icon-arrow-right
		.grid-flex.inverse-section
			img.col.col-image(style='top: -50px;position: relative;' src='/assets/ntu/images/research-1.png')
			.col.col-text
				.Aligner-item
					p.heading Agilent Technologies and Nanyang Technological University collaborate on wastewater treatment research.
					p.desc Scientists and engineers from NEWRI aim to gain a better understanding of microbes capable of degrading various materials so as to harness them for wastewater and waste treatment.
					button See research
						i.icon.icon-arrow-right

	+event-carousel()

	
	.research-section
		.container 
			div(style='width: 100%;float: left;')
				ul.grid(style="width: 50%;float: left;")
					li.grid_item.span__1.b
							a.metrostyle.orgmetro(style='background-repeat: no-repeat, repeat;background-position: center;height: 180px;cursor: pointer;background:url(/assets/ntu/images/social-1.png);')
								img.social-logo(src='/assets/ntu/images/social-logo.png')
								span.social-icon-user
									i.icon.icon-arrow-right
								span.user-name User List  
					li.grid_item.span__1.b
							a.metrostyle.orgmetro(style='background-repeat: no-repeat, repeat;background-position: center;height: 180px;cursor: pointer;background:url(/assets/ntu/images/social-2.png);')
								img.social-logo(src='/assets/ntu/images/social-logo.png')
								span.social-icon-user
									i.icon.icon-arrow-right
								span.user-name NTU Singapore 
					li.grid_item.span__1.b
							a.metrostyle.orgmetro(style='background-repeat: no-repeat, repeat;background-position: center;height: 180px;cursor: pointer;background:url(/assets/ntu/images/social-3.png);')
								img.social-logo(src='/assets/ntu/images/social-logo.png')
								span.social-icon-user
									i.icon.icon-arrow-right
								span.user-name User List 
					li.grid_item.span__1.c
							a.metrostyle.orgmetro(style='background-repeat: no-repeat, repeat;background-position: center;height: 180px;cursor: pointer;background:url(/assets/ntu/images/research-2.png);')
								img.social-logo(src='/assets/ntu/images/social-logo.png')
								span.social-icon-user
									i.icon.icon-arrow-right
								span.user-name User List 
				ul.grid(style="width: 50%;height: 100%;float: left;")
					li.grid_item.span__2.a
						a.metrostyle.orgmetro(style='background-repeat: no-repeat, repeat;background-position: center;height: 180px;cursor: pointer;background:url(/assets/ntu/images/social-1.png);')
								img.social-logo(src='/assets/ntu/images/social-logo.png')
								span.social-icon-user
									i.icon.icon-arrow-right
								span.user-name User List 