extends _layouts/base

include _modules/organisms/home-carousel/home-carousel
include _modules/organisms/event-carousel/event-carousel
include _modules/organisms/select-interest/select-interest
include _modules/organisms/excellence/excellence
include _modules/organisms/social-feeds/social-feeds
include _modules/organisms/research/research

block content
	+home-carousel()

	+select-interest()

	+excellence()

	+research()

	+event-carousel()

	+social-feeds()

	.dw
		.dw-pnl
			.dw-pnl__cntnt.bd--white.tx--white
				ul
					li Configurable
					li Responsive
					li Supports clusters
		.dw-pnl
			img.dw-pnl__cntnt(src='https://unsplash.it/419/?random')
		.dw-pnl
			.dw-pnl__cntnt.tx--white.bd--white
			p
				| Phasellus malesuada, urna non auctor viverra, libero ex pellentesque urna, id rhoncus eros lacus tristique risus. Interdum et malesuada fames ac ante ipsum primis in faucibus.
		.dw-pnl
			img.dw-pnl__cntnt(src='https://unsplash.it/445/?random')
		.dw-pnl
			img.dw-pnl__cntnt(src='https://unsplash.it/423/?random')