mixin cta-section(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  section.cta-section(class=spec.__class)&attributes(attributes)
    .container
      .row
        .col-md-4
          +button({
            '__type': 'anchor',
            '__class': 'btn--with-triangle btn--lightgrey btn--fullwidth btn--programme',
            '__link': '/',
            '__text':'MBBS Programme'
          })
        .col-md-4
          +button({
            '__type': 'anchor',
            '__class': 'btn--with-triangle btn--lightgrey btn--fullwidth btn--programme',
            '__link': '/',
            '__text':'PhD by Research Programme'
          })
        .col-md-4
          +button({
            '__type': 'anchor',
            '__class': 'btn--with-triangle btn--lightgrey btn--fullwidth btn--programme',
            '__link': '/',
            '__text':'About NTU-Exeter PhD Programme'
          })