mixin cta-section(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	section.cta-section(class=spec.__class)&attributes(attributes)
		.container
			.row
				.col-md-4.col-sm-12
					+button({
						'__type': 'anchor',
						'__class': 'btn--with-triangle btn--lightgrey btn--fullwidth btn--programme',
						'__link': '/',
						'__text':'BFA at ADM'
					})
				.col-md-4.col-sm-12
					+button({
						'__type': 'anchor',
						'__class': 'btn--with-triangle btn--lightgrey btn--fullwidth btn--programme',
						'__link': '/',
						'__text':'Masters and PhD at ADM'
					})
				.col-md-4.col-sm-12
					+button({
						'__type': 'anchor',
						'__class': 'btn--with-triangle btn--lightgrey btn--fullwidth btn--programme',
						'__link': '/',
						'__text':'NTU Centre for Contemporary Art Singapore'
					})

mixin cta-section-opt(spec)
	- spec = spec || {}
	- spec.class = spec.class || ''

	section.cta-section(class=spec.class)&attributes(attributes)
		.container
			.row
				each button, index in spec.buttons
					.col-md-4.col-sm-12
						+button({
							'__type': 'anchor',
							'__class': button.btnclass,
							'__link': button.link,
							'__text': button.text,
							'__iconBefore': button.icon
						})