mixin excellence(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	section.excellence
		.world-count
			h3 NTU’s numbers in the world
			.count-link
				a(href="#") See NTU’s excellence
					i.icon.icon-arrow-right
			.column
				i.icon.icon-play3
				h2.count 3<sup>rd</sup>
				span.count-text Materials Science
			.column
				i.icon.icon-play3
				h2.count 6<sup>th</sup>
				span.count-text Electrical &amp; Electronic Engineering
			.column
				i.icon.icon-play3
				h2.count 8<sup>th</sup>
				span.count-text Communications  &amp; Media Studies
			.column
				i.icon.icon-play3
				h2.count 9<sup>th</sup>
				span.count-text Chemistry
