
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
.left {
    float:left;
  }
  .right {
    float:right;
  }
  figcaption {
    font-family:sans-serif;
    font-weight:bold;
    font-size:16px;
    padding:10px;
    text-align: center;
    span{  
    font-size: 12px;
    line-height: 17px;
    text-transform: uppercase;
    }
    .heading{
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
    }
    p{
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
    }
  }
  
  .clear {
    clear:both;
  }
  figure{
    background: #1C2E3C;
    float: left;
    width: 100%;
    color: #fff;
    margin: 0;
    &.left-style{
        background: white;
        color: #000;
        img{
            margin-top: -75px;
        }
        figcaption{
            text-align: left;
        }
      }
    img {
        margin:10px;
        width: 450px;
        height: auto;
      }
  }
  .research-block{
    margin: 10px 0;
    display: block;
    float: left;
    width: 100%;
    background: #E5E5E5;
  }
.hidden {
    display: none;
  }
  
  .footer-bg {
    background-color:#181C62;
    width: 100%;
    padding-bottom: 60px;
  }
  footer{
    display: block;
    width: 100%;
    float: left;
  }
  .footer-custom {
    color: #fff;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    box-sizing: border-box;
    
    // margin: 0 20px;
    // padding: 15px;
    &:after {
      display: table;
      clear: both;
      content: "";
    }
  }
  .block_el{
    width: 100%;
    float: left;
  }
  .footer-lists:after {
    display: table;
    clear: both;
    content: "";
  }
  .footer-logo{
      text-align:center;
      padding: 20px 0px;
      img{
        display: block;
        width: 148px;
        height: 54px;
        margin: 0 auto;
      }
  }
  @media only screen and (min-width: 568px) {
    .footer-list-wrap {
      width: 33.3333%;
      text-align:left;
    }
  }

  .footer-list-wrap {
    width: 100%;
    margin: 10px 0;
    float: left;
    box-sizing: border-box;
  }
  
  @media only screen and (min-width: 768px) {
    .footer-list-wrap {
        width: 22%;
        margin-right: 3%;
        text-align:left;
    }
  }
  
  .ftr-links-sub {
    padding: 0;
    margin: 0;
    &:after {
      display: table;
      clear: both;
      content: "";
    }
    li {
      display: block;
      list-style-type: none;
      margin: 0;
      padding: 3px 0;
      color: #FFF;
      font-family: Lato;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 17px;
    }
  }
  
  .footer-custom a {
    text-decoration: none;
    color: #FFF;
    padding: 5px 0;
    display: block;
    &:link, &:visited {
      text-decoration: none;
      color: #fff;
      padding: 5px 0;
      display: block;
    }
  }
  
  .ftr-links-sub li .link {
    text-decoration: none;
    color: #fff;
    padding: 5px 0;
    display: block;
  }
  
  .footer-custom {
    .footer-legal a {
      display: inline;
    }
    a {
      &:hover, &:active {
        text-decoration: underline;
        color: #fff;
        cursor: pointer;
      }
    }
  }

  
  .ftr-links-sub li .link:hover {
    text-decoration: underline;
    color: #fff;
    cursor: pointer;
  }

  .footer-lists {
    padding-top: 20px;
  }
  
  @media only screen and (min-width: 768px) {
    .footer-custom a {
      padding: 0;
      &:link, &:visited {
        padding: 0;
      }
    }
    .ftr-links-sub li .link {
      padding: 0;
    }
  }
  
  @media only screen and (min-width: 768px) {
    .footer-lists {
      width: 100%;
      border-top: 0.5px solid rgba(255,255,255,0.5);
      margin-top: 10px;
    }
  }
  
  @media only screen and (min-width: 1008px) {
    .footer-lists {
      float: left;
      border-top: 0.5px solid rgba(255,255,255,0.5);
      margin-top: 10px;
    }
    .scrollToTop-wrapper{
        text-align: right;
        margin:0px 10px;
    }
  }
  
  .footer-legal {
    padding: 15px 0 0;
    clear: left;
    p{
        margin-bottom: 0;
        margin-top: 0;
        line-height: 23px;
    }
  }
  
  @media only screen and (min-width: 768px) {
    .footer-legal {
      width: 100%;
      float: left;
      text-align: left;
    }
  }

  .scrollToTop-wrapper{
    text-align: right;
    margin:0px 10px;
    &:focus{
        outline: none;
    }
    button{
    background: transparent;
    border: none;
    color: white;
    font-size: 12px;
        :focus{
            outline: none;
        }
    }
    i {
        border: 1px solid white;
        color: white;
        margin-left: 5px;
        padding: 15px;
    }
}

  .left-align {
    span{
        position: absolute;
        width: 76px;
        height: 14px;
        left: 100px;
        top: 65px;
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 11px;
        line-height: 13px;
    }
  }
  
  .search {
    display: inline-block;
    vertical-align: top;
    input{
      margin: 5px;
      padding: 5px;
      outline: none;
      background: #F4F4F4;
      border: 1px solid #ADADAD;
      border-radius: 36px;
      width: 246px;
      height: 33px;
      top: 49px;
      position: absolute;
      padding-left: 10px;
    }
  }
  
  .logo {
    vertical-align: top;
    display: inline-block;
    font-size: 15px;
    padding: 10px 0;
    img{
        width: 148px;
        height: 54px;
    }
    span {
      &:first-of-type {
        font-size: 20px;
        color: #fff;
      }
      display: block;
    }
  }
  .slick-text__title {
    button{
    background: #000000;
    opacity: 1;
    color: white;
    font-size: 12px;
    display: block;
    border: none;
    padding: 10px;
    .icon{
        vertical-align: middle;
        display: inline;
    }
  }
}
.home-carousel__tab{
    position: absolute;
    bottom:0;
    width: 100%;
    text-align: right;
    .pagination__page{
        float: right;
    }
   
    .btnTab{
        color: white;
        background: #000000;
        font-size: 10px;
        border: none;
        padding: 10px;
        position: relative;
        display: inline;
        width: 30%;
        height: 70px;
        left: 10%;
        float:left;
        vertical-align: baseline;
    }
}

.grid_item {
  background: #ebebeb;  
  display: block;
  float: left;
  position: relative;
  -moz-transform: translate3d(0,0,0);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  -moz-transition: all .2s cubic-bezier(.4,0,.2,1);
  -webkit-transition: all .2s cubic-bezier(.4,0,.2,1);
  transition: all .2s cubic-bezier(.4,0,.2,1);
}
.grid{
  padding: 0;
  margin:0;
}
.grid_link {
  display: block;
  color: black;
  position: relative;
  overflow: hidden;
  img{
    width:100%;
  }
}

.tile {
  font-size: 14px;
  font-family: "Segoe UI";
  line-height: 18px;
  position: absolute;
  bottom: 0%;
  left: 0%;
  -webkit-transform: translate(0%,0%);
      -ms-transform: translate(0%,0%);
          transform: translate(0%,0%);
  width: 100%;
}

@media all and (max-width: 320px) {
  .span__1,
  .span__2,
  .span__4{
    width: 100%;
    .grid_link {
   	padding-bottom: 100%;
  	}
  }
}

@media all and (min-width: 321px) and (max-width: 480px) {
  .span__1,
  .span__2,
  .span__4{
    width: 49.545252%;
    .grid_link {
   	padding-bottom: 100%;
  	}
  }
}

@media all and (min-width: 481px) {
  .span__1 {
    width: 50%;
    .grid_link {
      padding-bottom: 100%;
    }
  }

  .span__2 {
    width: 100%;
    .grid_link {
      padding-bottom: 0%;
    }
  }
}
.col-text {
  height: 20em;
}

.col {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.col-left {
  -webkit-box-ordinal-group: -1;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
}

.col-text {
  display: flex;
  align-items: center;
  justify-content: center;
}


.col-image {
  background-size: cover;
  background-position: center center;
}

@media (max-width: 640px) {
  .grid-flex {
    display: -webkit-flex;
    -webkit-flex-direction: column;
    flex-direction: column;
  }
    .inverse-section{
      .col-text{
        margin-top: 0;
      }
      .heading{
        padding-top: 0;
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  .col {
    order: vertical;
  }
  .col-text{
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .col-left {
    -webkit-box-ordinal-group: 0;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
  }
  .col-text div p {
    padding: 1em;
  }
  .Aligner-item {
    width: 90%;
  }
}

.research-section {
  float: left;
  width: 100%;
  display: block;
}

.grid-btn{
  border: 1px solid black;
  color:#000;
    display: block;
    float: left;
    width: 100%;
    margin: 10px;
    padding: 10px;
}

.user-name{
  color: white;
    float: left;
    bottom: 0;
    margin-left: 50px;
    position: absolute;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 17px;
    margin-bottom: 18px;
}
.social-logo{
  color: white;
    float: left;
    bottom: 0;
    position: absolute;
    border-radius: 50%;
    margin: 10px;
}
.social-icon-user{
  font-size: 2em;
    color: white;
    padding-right: 0.3em;
    margin-top: 10px;
    float: right;
}