include ../../atoms/button/button

mixin footer(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	footer
		.footer-bg
			.footer-custom
				.footer-logo
					.footer-logo__wrap.logo-img
						img(src="/assets/ntu/images/ntu-logo-white.svg", alt="*NTU", height="100px", width="100px")

				.footer-lists
					.footer-list-wrap
						ul.ftr-links-sub
							li
								span.block_el Nanyang Technological University
								span
										|50 Nanyang Avenue, Singapore 639798 
										|Tel: (65) 67911744
					.footer-list-wrap
						ul.ftr-links-sub
							li
								span.block_el Novena Campus
								span
										|11 Mandalay Road, Singapore 308232 
										|Tel: (65) 65138572
							// /.footer-list-wrap
					.footer-list-wrap
						ul.ftr-links-sub
							li
								a(href='#', rel='nofollow') Contact
							li
								a(href='#', rel='nofollow') Getting to NTU
							li
								a(href='#', rel='nofollow') Getting around NTU
							li
								a(href='#', rel='nofollow') Blogs@NTU
					.footer-list-wrap
						ul.ftr-links-sub
							li
								a(href='#', rel='nofollow') Ask NTU
							li
								a(href='#', rel='nofollow') Career Opportunities
							li
								a(href='#', rel='nofollow') Research Integrity
					.footer-legal
						p
							| Copyright • Disclaimer • Data Protection and Privacy 
						p
							|  © 2019 Nanyang Technological University
			.scrollToTop-wrapper
				button.scrollToTop(type="button")
					span To Top 
						i.icon.icon-arrow-up
