mixin input-text(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''
	- spec.__placeholder = spec.__placeholder || ''
	- spec.__name = spec.__name || ''
	- spec.__id = spec.__id || ''

	input.input-text(id=spec.__id, type="text", class=spec.__class, placeholder=spec.__placeholder, name=spec.__name)